.top-section {
  height: 350px;
  /* background-color: #040404; */
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 35px;
}

h1 {
  color:black;
  font-size: 45px;
}

button {
  /* color: green; */
  padding: 5px 55px 6px 55px;
}
